<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
  
	    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="assets/css/style.css" rel="stylesheet" />
	</head>
	<body ng-app="myApp">
	<div  ng-controller="usercontroller" ng-init="loader2();loader=true;">	
    <center> 
		<nav class="{{active}}">
        <a href="#" class="home" ng-click="active='home';showMe=true;loader2();loader=true;btnName='ADD'">ADD Record</a>
	    <a href="#!manage" class="about" ng-click="active='about';loader2();loader=true;showMe=false">Manage Records</a>
		</nav>
	</center>
 <title>Register Form</title>
  <div class="container" style="width:500px;">  
   <div id="mydiv" ng-show="loader"><img src="assets/images/ajax-loader.gif" class="ajax-loader"/></div>  
     <div ng-view></div>
	 </div>
	</div>
	<script src="app/app.js"></script>
  </body>
</html>
